body {
   background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
   color:antiquewhite;
   font-size: larger;
}
.navbar {
   display:flex;
   align-items: center;
   justify-content: space-between;
   color:azure;
}
.nav-links {
   padding: 1rem 2rem;
   margin: 1.2em;
   list-style: none;
   text-decoration:none;
   display:flex;
   gap: 1.5rem;
   color:azure;
}
.logo a {
   color:azure;
}
img {
   height: 200px;
   width: 350px;
}